
{% extends 'base.html.twig' %}

{% block body %}


    <div class="container">
        <hr>
        {#<img src="/97a1e5fcd558e00c92f8f170d8d8a083.png">#}
        <img src="/{{ photo }}">

        <img src="/uploads/photos/97a1e5fcd558e00c92f8f170d8d8a083.png">
        <img src="../../uploads/photos/97a1e5fcd558e00c92f8f170d8d8a083.png">

        {#<img src="/../{{ photo }}">#}
        {#<img src="{{ asset('/uploads/photos/97a1e5fcd558e00c92f8f170d8d8a083.png') }}" />#}
        <p>{{ photo }}</p>
        <hr>
    </div>







{% endblock %}




