
{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Edit Genus</h1>
            {{ form_start(form) }}
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}




